<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>xsellcogoogle</name>
	<displayName><![CDATA[xSellco Google]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Integrates your xSellco Google Shopping channel with Prestashop webstore.]]></description>
	<author><![CDATA[xSellco]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
